/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif, Helvetica;
}

/* Header */
header {
    height: 70px;
    line-height: 70px;
}

.logo {
    vertical-align: middle;
}

.main-title {
    display: inline-block;
    vertical-align: middle;
}

/* Main */
main {
    background: rgb(226, 226, 226);
    height: 400px;
    padding: 20px 0;
}

.mt1 {
    margin-top: 1px;
}

.container {
    background: white;
    width: 1024px;
    margin: 0 auto;
    padding: 20px;
}

.container-top {
    border-radius: 20px 20px 0 0;
    margin-bottom: 1px;
}

.container-bottom {
    border-radius: 0 0 20px 20px;
}

.btn {
    font-weight: bold;
    border-radius: 5px;
    padding: 10px 20px;
    border: 1px solid;
}

.btn-task {
    background: rgb(94, 159, 255);
    color: white;
    border-color: rgb(94, 159, 255);
}

.btn-section {
    background: rgb(255, 255, 255);
    color: grey;
    border-color: grey;
}

.icon {
    display: inline-block;
    border: 1px solid green;
    border-radius: 50%;
    height: 25px;
    width: 25px;
    text-align: center;
}

.btn2 {
    font-weight: bold;
    border-radius: 10px;
    padding: 5px 10px;
    border: 1px solid;
}

.btn-edit {
    background: rgb(94, 159, 255);
    color: rgb(255, 255, 255);
    border-color: rgb(94, 159, 255);
}